# This file must be in the root to be used by VS Code auto save.
package.json
pnpm-lock.yaml

/.yarn/releases

/projects/app/drizzle/meta
/projects/app/.vercel
/projects/app/src/assets/**/*.svg
/projects/app/src/assets/**/*.json
/projects/*/dist
*.asset.json
