@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*
  
  TEXT STYLES
  
  */
  .pyly-button-filled {
    @apply font-sans text-base/snug font-bold uppercase text-bg;
  }
  .pyly-button-outline {
    @apply font-sans text-base/snug font-bold uppercase text-fg;
  }
  .pyly-button-option {
    @apply font-sans text-base/snug font-medium text-fg;
  }
  .pyly-button-option-caption {
    @apply font-sans text-sm/snug text-fg-dim;
  }
  .pyly-button-bare {
    @apply font-sans text-sm/normal font-bold uppercase text-fg;
  }

  /* --- */

  /* <pyly-body-title> */
  .pyly-body-title {
    @apply font-sans text-2xl/normal tracking-tight text-fg font-bold;
  }
  .pyly-body-title.pyly-ref,
  .pyly-body-title .pyly-ref {
    @apply leading-tight font-bold text-fg-loud pyly-ref-2xl;
  }
  .pyly-body-title.pyly-bold,
  .pyly-body-title .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body-title.pyly-mark,
  .pyly-body-title .pyly-mark {
    @apply font-extrabold text-yellow;
  }
  /* </pyly-body-title> */

  /* --- */

  .pyly-body-heading {
    @apply font-sans text-lg/normal tracking-tight text-fg-loud font-bold;
  }
  .pyly-body-heading.pyly-ref,
  .pyly-body-heading .pyly-ref {
    @apply font-bold text-fg-loud pyly-ref-lg;
  }
  .pyly-body-heading.pyly-bold,
  .pyly-body-heading .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body-heading.pyly-mark,
  .pyly-body-heading .pyly-mark {
    @apply font-bold text-yellow;
  }

  /* --- */

  .pyly-body-subheading {
    @apply font-sans text-sm/normal text-fg-loud font-bold uppercase;
  }
  .pyly-body-subheading.pyly-ref,
  .pyly-body-subheading .pyly-ref {
    @apply font-bold text-fg-loud pyly-ref-lg;
  }
  .pyly-body-subheading.pyly-bold,
  .pyly-body-subheading .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body-subheading.pyly-mark,
  .pyly-body-subheading .pyly-mark {
    @apply font-bold text-yellow;
  }

  /* --- */

  .pyly-body-2xl {
    @apply font-sans text-2xl/normal font-normal text-fg;
  }
  .pyly-body-2xl.pyly-ref,
  .pyly-body-2xl .pyly-ref {
    @apply font-medium text-fg-loud pyly-ref-2xl;
  }
  .pyly-body-2xl.pyly-bold,
  .pyly-body-2xl .pyly-bold {
    @apply font-medium text-fg-loud;
  }
  .pyly-body-2xl.pyly-mark,
  .pyly-body-2xl .pyly-mark {
    @apply font-medium text-yellow;
  }

  /* --- */

  .pyly-body {
    @apply font-sans text-base/normal text-fg font-medium;
  }
  .pyly-body.pyly-ref,
  .pyly-body .pyly-ref {
    @apply text-fg-loud font-medium pyly-ref-base;
  }
  .pyly-body.pyly-bold,
  .pyly-body .pyly-bold {
    @apply font-semibold text-fg-loud;
  }
  .pyly-body.pyly-mark,
  .pyly-body .pyly-mark {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-body-caption {
    @apply font-sans text-sm/normal font-normal text-fg-dim;
  }
  .pyly-body-caption.pyly-ref,
  .pyly-body-caption .pyly-ref {
    @apply text-fg font-medium pyly-ref-sm;
  }
  .pyly-body-caption.pyly-bold,
  .pyly-body-caption .pyly-bold {
    @apply text-fg font-medium;
  }
  .pyly-body-caption.pyly-mark,
  .pyly-body-caption .pyly-mark {
    @apply text-yellow font-semibold;
  }
  .pyly-body-caption.pyly-italic,
  .pyly-body-caption .pyly-italic {
    @apply font-light;
  }

  /* --- */

  .pyly-body-dt {
    @apply font-sans text-xs/normal font-medium text-fg-dim uppercase;
  }
  .pyly-body-dt.pyly-ref,
  .pyly-body-dt .pyly-ref {
    @apply text-fg-loud font-semibold pyly-ref-xs;
  }
  .pyly-body-dt.pyly-bold,
  .pyly-body-dt .pyly-bold {
    @apply font-semibold text-fg-loud;
  }
  .pyly-body-dt.pyly-mark,
  .pyly-body-dt .pyly-mark {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-body-input {
    @apply font-sans text-lg/snug font-medium text-fg;
  }
  .pyly-body-input.pyly-ref,
  .pyly-body-input .pyly-ref {
    @apply text-fg-loud font-semibold pyly-ref-lg;
  }
  .pyly-body-input.pyly-bold,
  .pyly-body-input .pyly-bold {
    @apply font-semibold text-fg-loud;
  }
  .pyly-body-input.pyly-mark,
  .pyly-body-input .pyly-mark {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-dev-dt {
    @apply font-mono text-xs/normal font-normal text-fg-dim uppercase;
  }

  /* www */
  .www-text-hero {
    @apply font-sans text-5xl/tight font-bold tracking-tighter text-fg transition-all md:text-6xl/tight;
  }

  .www-text-title {
    @apply font-sans text-3xl/normal font-bold tracking-tighter text-fg transition-all md:text-4xl/normal;
  }

  .www-text-subtitle {
    @apply font-sans text-base uppercase text-cyanold;
  }

  .www-text-body {
    @apply font-sans text-fg text-[17px]/[24px];
  }

  .www-px-comfortable {
    @apply px-safe-or-4 md:px-safe-or-8;
  }

  .www-text-footer-title {
    @apply font-sans text-[19px]/normal font-medium text-fg;
  }

  .www-text-footer-link {
    @apply font-sans text-[15px]/normal font-medium text-fg antialiased;
  }

  /* 
  
  COLOR SCHEMES

  */
  .pyly-color-scheme-dark {
    --color-red: var(--color-red-dark);
    --color-orange: var(--color-orange-dark);
    --color-amber: var(--color-amber-dark);
    --color-yellow: var(--color-yellow-dark);
    --color-lime: var(--color-lime-dark);
    --color-wasabi: var(--color-wasabi-dark);
    --color-green: var(--color-green-dark);
    --color-emerald: var(--color-emerald-dark);
    --color-teal: var(--color-teal-dark);
    --color-cyan: var(--color-cyan-dark);
    --color-cyanold: var(--color-cyanold-dark);
    --color-sky: var(--color-sky-dark);
    --color-blue: var(--color-blue-dark);
    --color-indigo: var(--color-indigo-dark);
    --color-violet: var(--color-violet-dark);
    --color-purple: var(--color-purple-dark);
    --color-fuchsia: var(--color-fuchsia-dark);
    --color-pink: var(--color-pink-dark);
    --color-rose: var(--color-rose-dark);
    --color-brick: var(--color-brick-dark);
    --color-slate: var(--color-slate-dark);
    --color-gray: var(--color-gray-dark);
    --color-zinc: var(--color-zinc-dark);
    --color-neutral: var(--color-neutral-dark);
    --color-stone: var(--color-stone-dark);
    --color-cloud: var(--color-cloud-dark);

    --color-success: var(--color-wasabi);
    --color-danger: #f46368;
    --color-warning: #ffb900;

    --color-theme-default-bg: #1a1d1e;
    --color-theme-default-bg-high: #2d3031;
    --color-theme-default-bg-higher: #404243;
    --color-theme-default-fg: #d7d8d9;
    --color-theme-default-fg-dim: #898989;
    --color-theme-default-fg-loud: #ffffff;
    --color-theme-default-on-fg: #1a1d1e;

    --color-theme-danger-panel-bg: #2d3031;
    --color-theme-danger-panel-bg-high: #413435;
    --color-theme-danger-panel-bg-higher: #543739;
    --color-theme-danger-panel-fg: #f2555a;
    --color-theme-danger-panel-fg-dim: #db4b4f;
    --color-theme-danger-panel-fg-loud: #ff7377;
    --color-theme-danger-panel-on-fg: #1a1d1e;

    --color-theme-grass-panel-bg: #00c286;
    --color-theme-grass-panel-bg-high: #19c892;
    --color-theme-grass-panel-bg-higher: #30ce9d;
    --color-theme-grass-panel-fg: rgb(from white r g b / 0.95);
    --color-theme-grass-panel-fg-dim: rgb(from white r g b / 0.57);
    --color-theme-grass-panel-fg-loud: white;
    --color-theme-grass-panel-on-fg: #00c286;

    --color-theme-sky-panel-bg: var(--color-sky);
    --color-theme-sky-panel-bg-high: #1f6991;
    --color-theme-sky-panel-bg-higher: #36799c;
    --color-theme-sky-panel-fg: rgb(from white r g b / 0.95);
    --color-theme-sky-panel-fg-dim: rgb(from white r g b / 0.57);
    --color-theme-sky-panel-fg-loud: white;
    --color-theme-sky-panel-on-fg: var(--color-sky);

    --color-theme-success-panel-bg: #193222;
    --color-theme-success-panel-bg-high: #184525;
    --color-theme-success-panel-bg-higher: #185828;
    --color-theme-success-panel-fg: #13f042;
    --color-theme-success-panel-fg-dim: #0b9d2b;
    --color-theme-success-panel-fg-loud: #4dff73;
    --color-theme-success-panel-on-fg: #1a1d1e;

    --color-theme-warning-panel-bg: #432004;
    --color-theme-warning-panel-bg-high: #563307;
    --color-theme-warning-panel-bg-higher: #69460a;
    --color-theme-warning-panel-fg: #ffdf20;
    --color-theme-warning-panel-fg-dim: #c7ad1b;
    --color-theme-warning-panel-fg-loud: #ffe962;
    --color-theme-warning-panel-on-fg: #1a1d1e;
  }

  .pyly-color-scheme-light {
    --color-red: var(--color-red-light);
    --color-orange: var(--color-orange-light);
    --color-amber: var(--color-amber-light);
    --color-yellow: var(--color-yellow-light);
    --color-lime: var(--color-lime-light);
    --color-wasabi: var(--color-wasabi-light);
    --color-green: var(--color-green-light);
    --color-emerald: var(--color-emerald-light);
    --color-teal: var(--color-teal-light);
    --color-cyan: var(--color-cyan-light);
    --color-cyanold: var(--color-cyanold-light);
    --color-sky: var(--color-sky-light);
    --color-blue: var(--color-blue-light);
    --color-indigo: var(--color-indigo-light);
    --color-violet: var(--color-violet-light);
    --color-purple: var(--color-purple-light);
    --color-fuchsia: var(--color-fuchsia-light);
    --color-pink: var(--color-pink-light);
    --color-rose: var(--color-rose-light);
    --color-brick: var(--color-brick-light);
    --color-slate: var(--color-slate-light);
    --color-gray: var(--color-gray-light);
    --color-zinc: var(--color-zinc-light);
    --color-neutral: var(--color-neutral-light);
    --color-stone: var(--color-stone-light);
    --color-cloud: var(--color-cloud-light);

    --color-success: var(--color-wasabi);
    --color-danger: #d8373d;
    --color-warning: #ff8904;

    --color-theme-default-bg: #f8f9fa;
    --color-theme-default-bg-high: #e1e3e4;
    --color-theme-default-bg-higher: #caccce;
    --color-theme-default-fg: #12191d;
    --color-theme-default-fg-dim: #6c6c6c;
    --color-theme-default-fg-loud: #000000;
    --color-theme-default-on-fg: #ffffff;

    --color-theme-danger-panel-bg: #e7e8e8;
    --color-theme-danger-panel-bg-high: #e5d6d7;
    --color-theme-danger-panel-bg-higher: #e4c5c6;
    --color-theme-danger-panel-fg: #d8373d;
    --color-theme-danger-panel-fg-dim: #d55f63;
    --color-theme-danger-panel-fg-loud: #d82128;
    --color-theme-danger-panel-on-fg: #ffffff;

    --color-theme-grass-panel-bg: #00c286;
    --color-theme-grass-panel-bg-high: #18c892;
    --color-theme-grass-panel-bg-higher: #30ce9d;
    --color-theme-grass-panel-fg: rgb(from white r g b / 0.95);
    --color-theme-grass-panel-fg-dim: rgb(from white r g b / 0.57);
    --color-theme-grass-panel-fg-loud: white;
    --color-theme-grass-panel-on-fg: #00c286;

    --color-theme-sky-panel-bg: var(--color-sky);
    --color-theme-sky-panel-bg-high: #4e8ef7;
    --color-theme-sky-panel-bg-higher: #609af8;
    --color-theme-sky-panel-fg: rgb(from white r g b / 0.95);
    --color-theme-sky-panel-fg-dim: rgb(from white r g b / 0.57);
    --color-theme-sky-panel-fg-loud: white;
    --color-theme-sky-panel-on-fg: var(--color-sky);

    --color-theme-success-panel-bg: #e5f9e7;
    --color-theme-success-panel-bg-high: #cef1d0;
    --color-theme-success-panel-bg-higher: #b7e9b9;
    --color-theme-success-panel-fg: #00ab00;
    --color-theme-success-panel-fg-dim: #48b948;
    --color-theme-success-panel-fg-loud: #008e00;
    --color-theme-success-panel-on-fg: #ffffff;

    --color-theme-warning-panel-bg: #fefce8;
    --color-theme-warning-panel-bg-high: #f9f0d1;
    --color-theme-warning-panel-bg-higher: #f5e5ba;
    --color-theme-warning-panel-fg: #d08700;
    --color-theme-warning-panel-fg-dim: #c3a625;
    --color-theme-warning-panel-fg-loud: #a65f00;
    --color-theme-warning-panel-on-fg: #ffffff;
  }

  /* declare MDX component clases */
  .pyly-mdx,
  .pyly-mdx-b,
  .pyly-mdx-strong,
  .pyly-mdx-s,
  .pyly-mdx-del,
  .pyly-mdx-q,
  .pyly-mdx-i,
  .pyly-mdx-em,
  .pyly-mdx-p,
  .pyly-mdx-pre,
  .pyly-mdx-code,
  .pyly-mdx-inlineCode,
  .pyly-mdx-span,
  .pyly-mdx-a,
  .pyly-mdx-nav,
  .pyly-mdx-footer,
  .pyly-mdx-aside,
  .pyly-mdx-header,
  .pyly-mdx-main,
  .pyly-mdx-article,
  .pyly-mdx-section,
  .pyly-mdx-br,
  .pyly-mdx-time,
  .pyly-mdx-div,
  .pyly-mdx-img,
  .pyly-mdx-tbody,
  .pyly-mdx-blockquote {
    --pyly-ignore-lint-warning: 1;
  }

  .pyly-mdx-mark {
    @apply text-yellow font-bold;
  }

  .pyly-mdx-h1 {
    @apply pyly-body-title;
  }
  .pyly-mdx-h2,
  .pyly-mdx-h3,
  .pyly-mdx-h4 {
    @apply pyly-body-heading;
  }
  .pyly-mdx-h5,
  .pyly-mdx-h6 {
    @apply pyly-body font-bold;
  }
  .pyly-mdx-p {
    @apply pyly-body;
  }
  .pyly-mdx-b,
  .pyly-mdx-strong {
    @apply font-semibold text-fg-loud;
  }

  .pyly-mdx-p {
    /* Override react-native-web's default `white-space: pre-wrap` so that
    newlines in MDX are not treated as line breaks. In MDX if you want a line
    break you can use two trailing spaces at the end of a line and it is a
    `<BR>`. */

    @apply whitespace-normal;
  }
  .pyly-mdx-blockquote {
    @apply border-l-4 border-l-fg/50 pl-4 py-2;
  }

  .pyly-mdx > .pyly-mdx-table,
  .pyly-mdx > .pyly-mdx-p,
  .pyly-mdx > .pyly-mdx-h1,
  .pyly-mdx > .pyly-mdx-h2,
  .pyly-mdx > .pyly-mdx-h3,
  .pyly-mdx > .pyly-mdx-h4,
  .pyly-mdx > .pyly-mdx-h5,
  .pyly-mdx > .pyly-mdx-h6,
  .pyly-mdx > ul,
  .pyly-mdx > ol,
  .pyly-mdx > .pyly-mdx-blockquote,
  .pyly-mdx-hr {
    @apply mx-4;
  }

  .pyly-mdx-hr {
    @apply border-t-[0.5px] border-fg/25 border-dashed my-4 flex-1;
  }

  .pyly-mdx-table {
    @apply my-4 overflow-hidden rounded-lg border border-fg/20;
  }
  .pyly-mdx-thead {
    @apply bg-fg/5;
  }
  .pyly-mdx-tr {
    @apply flex-row border-b border-fg/10 last:border-b-0;
  }

  .pyly-mdx > ul,
  .pyly-mdx > ol {
    @apply pl-6;
  }
  .pyly-mdx > ul > li > ul {
    @apply my-2;
  }
}

@layer utilities {
  /* 
  
  THEMES

  */
  .theme-default {
    --color-bg: var(--color-theme-default-bg);
    --color-bg-high: var(--color-theme-default-bg-high);
    --color-bg-higher: var(--color-theme-default-bg-higher);
    --color-on-fg: var(--color-theme-default-on-fg);
    --color-fg: var(--color-theme-default-fg);
    --color-fg-dim: var(--color-theme-default-fg-dim);
    --color-fg-loud: var(--color-theme-default-fg-loud);
  }

  .theme-danger-panel {
    --color-bg: var(--color-theme-danger-panel-bg);
    --color-bg-high: var(--color-theme-danger-panel-bg-high);
    --color-bg-higher: var(--color-theme-danger-panel-bg-higher);
    --color-on-fg: var(--color-theme-danger-panel-on-fg);
    --color-fg: var(--color-theme-danger-panel-fg);
    --color-fg-dim: var(--color-theme-danger-panel-fg-dim);
    --color-fg-loud: var(--color-theme-danger-panel-fg-loud);
  }

  .theme-success-panel {
    --color-bg: var(--color-theme-success-panel-bg);
    --color-bg-high: var(--color-theme-success-panel-bg-high);
    --color-bg-higher: var(--color-theme-success-panel-bg-higher);
    --color-on-fg: var(--color-theme-success-panel-on-fg);
    --color-fg: var(--color-theme-success-panel-fg);
    --color-fg-dim: var(--color-theme-success-panel-fg-dim);
    --color-fg-loud: var(--color-theme-success-panel-fg-loud);
  }

  .theme-warning-panel {
    --color-bg: var(--color-theme-warning-panel-bg);
    --color-bg-high: var(--color-theme-warning-panel-bg-high);
    --color-bg-higher: var(--color-theme-warning-panel-bg-higher);
    --color-on-fg: var(--color-theme-warning-panel-on-fg);
    --color-fg: var(--color-theme-warning-panel-fg);
    --color-fg-dim: var(--color-theme-warning-panel-fg-dim);
    --color-fg-loud: var(--color-theme-warning-panel-fg-loud);
  }

  .theme-grass-panel {
    --color-bg: var(--color-theme-grass-panel-bg);
    --color-bg-high: var(--color-theme-grass-panel-bg-high);
    --color-bg-higher: var(--color-theme-grass-panel-bg-higher);
    --color-on-fg: var(--color-theme-grass-panel-on-fg);
    --color-fg: var(--color-theme-grass-panel-fg);
    --color-fg-dim: var(--color-theme-grass-panel-fg-dim);
    --color-fg-loud: var(--color-theme-grass-panel-fg-loud);
  }

  .theme-sky-panel {
    --color-bg: var(--color-theme-sky-panel-bg);
    --color-bg-high: var(--color-theme-sky-panel-bg-high);
    --color-bg-higher: var(--color-theme-sky-panel-bg-higher);
    --color-on-fg: var(--color-theme-sky-panel-on-fg);
    --color-fg: var(--color-theme-sky-panel-fg);
    --color-fg-dim: var(--color-theme-sky-panel-fg-dim);
    --color-fg-loud: var(--color-theme-sky-panel-fg-loud);
  }

  /* --- */

  .pyly-ref {
    text-decoration-skip-ink: none;

    @apply underline decoration-currentColor/25 hover:decoration-currentColor/50;

    /* Fix Safari bug where the underline text decoration isn't redrawn
    correctly because Safari doesn't correctly mark the pixels as dirty on
    hover. */

    @apply hover:transform-gpu;
  }

  .pyly-ref-xs {
    @apply decoration-[2px] underline-offset-[2px];
  }
  .pyly-ref-sm {
    @apply decoration-[2.5px] underline-offset-[2px];
  }
  .pyly-ref-base {
    @apply decoration-[3px] underline-offset-[2px];
  }
  .pyly-ref-lg {
    @apply decoration-[3px] underline-offset-[3px];
  }
  .pyly-ref-xl {
    @apply decoration-[3px] underline-offset-[3px];
  }
  .pyly-ref-2xl {
    @apply decoration-[4px] underline-offset-[3px];
  }

  .pyly-italic {
    @apply italic;
  }

  /* --- */

  .font-sans {
    /*
    Safari tries to work out its own "bold" weight, because it's a variable
    weight font. This disables that behaviour.
    */
    font-synthesis: none;
    /*
    Make webkit (e.g. Safari) render the font the same way as Figma
    https://forum.figma.com/ask-the-community-7/font-in-browser-seem-bolder-than-in-the-figma-8146#post54600
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  /* --- */

  .tab-size-2 {
    tab-size: 2;
  }
}

body {
  @apply bg-bg;
}

:root {
  --color-cloud-light: #cdcdcd;
  --color-cloud-dark: #d9d9d9;
  --color-brick-light: #dc3e43;
  --color-brick-dark: #f2555a;
  --color-red-light: #e7000b;
  --color-red-dark: #e7000b;
  --color-orange-light: #f54900;
  --color-orange-dark: #ff8904;
  --color-amber-light: #e17100;
  --color-amber-dark: #ffb900;
  --color-yellow-light: #fcbc14;
  --color-yellow-dark: #fcbc14;
  --color-lime-light: #5ea500;
  --color-lime-dark: #9ae600;
  --color-wasabi-light: #00c410;
  --color-wasabi-dark: #13f042;
  --color-green-light: #008236;
  --color-green-dark: #05df72;
  --color-emerald-light: #007a55;
  --color-emerald-dark: #00d492;
  --color-teal-light: #00786f;
  --color-teal-dark: #00d5be;
  --color-cyan-light: #007595;
  --color-cyan-dark: #00d3f2;
  --color-cyanold-light: #00bae9;
  --color-cyanold-dark: #00d3f2;
  --color-sky-light: #3b82f6;
  --color-sky-dark: #075985;
  --color-blue-light: #1447e6;
  --color-blue-dark: #2b7fff;
  --color-indigo-light: #4f39f6;
  --color-indigo-dark: #615fff;
  --color-violet-light: #7f22fe;
  --color-violet-dark: #8e51ff;
  --color-purple-light: #9810fa;
  --color-purple-dark: #ad46ff;
  --color-fuchsia-light: #c800de;
  --color-fuchsia-dark: #e12afb;
  --color-pink-light: #e60076;
  --color-pink-dark: #f6339a;
  --color-rose-light: #ec003f;
  --color-rose-dark: #ff2056;
  --color-slate-light: #45556c;
  --color-slate-dark: #90a1b9;
  --color-gray-light: #4a5565;
  --color-gray-dark: #99a1af;
  --color-zinc-light: #52525c;
  --color-zinc-dark: #9f9fa9;
  --color-neutral-light: #525252;
  --color-neutral-dark: #a1a1a1;
  --color-stone-light: #57534d;
  --color-stone-dark: #a6a09b;

  /* <tailwind-colors> */
  --color-tw-red-50: oklch(0.971 0.013 17.38);
  --color-tw-red-100: oklch(0.936 0.032 17.717);
  --color-tw-red-200: oklch(0.885 0.062 18.334);
  --color-tw-red-300: oklch(0.808 0.114 19.571);
  --color-tw-red-400: oklch(0.704 0.191 22.216);
  --color-tw-red-500: oklch(0.637 0.237 25.331);
  --color-tw-red-600: oklch(0.577 0.245 27.325);
  --color-tw-red-700: oklch(0.505 0.213 27.518);
  --color-tw-red-800: oklch(0.444 0.177 26.899);
  --color-tw-red-900: oklch(0.396 0.141 25.723);
  --color-tw-red-950: oklch(0.258 0.092 26.042);
  --color-tw-orange-50: oklch(0.98 0.016 73.684);
  --color-tw-orange-100: oklch(0.954 0.038 75.164);
  --color-tw-orange-200: oklch(0.901 0.076 70.697);
  --color-tw-orange-300: oklch(0.837 0.128 66.29);
  --color-tw-orange-400: oklch(0.75 0.183 55.934);
  --color-tw-orange-500: oklch(0.705 0.213 47.604);
  --color-tw-orange-600: oklch(0.646 0.222 41.116);
  --color-tw-orange-700: oklch(0.553 0.195 38.402);
  --color-tw-orange-800: oklch(0.47 0.157 37.304);
  --color-tw-orange-900: oklch(0.408 0.123 38.172);
  --color-tw-orange-950: oklch(0.266 0.079 36.259);
  --color-tw-amber-50: oklch(0.987 0.022 95.277);
  --color-tw-amber-100: oklch(0.962 0.059 95.617);
  --color-tw-amber-200: oklch(0.924 0.12 95.746);
  --color-tw-amber-300: oklch(0.879 0.169 91.605);
  --color-tw-amber-400: oklch(0.828 0.189 84.429);
  --color-tw-amber-500: oklch(0.769 0.188 70.08);
  --color-tw-amber-600: oklch(0.666 0.179 58.318);
  --color-tw-amber-700: oklch(0.555 0.163 48.998);
  --color-tw-amber-800: oklch(0.473 0.137 46.201);
  --color-tw-amber-900: oklch(0.414 0.112 45.904);
  --color-tw-amber-950: oklch(0.279 0.077 45.635);
  --color-tw-yellow-50: oklch(0.987 0.026 102.212);
  --color-tw-yellow-100: oklch(0.973 0.071 103.193);
  --color-tw-yellow-200: oklch(0.945 0.129 101.54);
  --color-tw-yellow-300: oklch(0.905 0.182 98.111);
  --color-tw-yellow-400: oklch(0.852 0.199 91.936);
  --color-tw-yellow-500: oklch(0.795 0.184 86.047);
  --color-tw-yellow-600: oklch(0.681 0.162 75.834);
  --color-tw-yellow-700: oklch(0.554 0.135 66.442);
  --color-tw-yellow-800: oklch(0.476 0.114 61.907);
  --color-tw-yellow-900: oklch(0.421 0.095 57.708);
  --color-tw-yellow-950: oklch(0.286 0.066 53.813);
  --color-tw-lime-50: oklch(0.986 0.031 120.757);
  --color-tw-lime-100: oklch(0.967 0.067 122.328);
  --color-tw-lime-200: oklch(0.938 0.127 124.321);
  --color-tw-lime-300: oklch(0.897 0.196 126.665);
  --color-tw-lime-400: oklch(0.841 0.238 128.85);
  --color-tw-lime-500: oklch(0.768 0.233 130.85);
  --color-tw-lime-600: oklch(0.648 0.2 131.684);
  --color-tw-lime-700: oklch(0.532 0.157 131.589);
  --color-tw-lime-800: oklch(0.453 0.124 130.933);
  --color-tw-lime-900: oklch(0.405 0.101 131.063);
  --color-tw-lime-950: oklch(0.274 0.072 132.109);
  --color-tw-green-50: oklch(0.982 0.018 155.826);
  --color-tw-green-100: oklch(0.962 0.044 156.743);
  --color-tw-green-200: oklch(0.925 0.084 155.995);
  --color-tw-green-300: oklch(0.871 0.15 154.449);
  --color-tw-green-400: oklch(0.792 0.209 151.711);
  --color-tw-green-500: oklch(0.723 0.219 149.579);
  --color-tw-green-600: oklch(0.627 0.194 149.214);
  --color-tw-green-700: oklch(0.527 0.154 150.069);
  --color-tw-green-800: oklch(0.448 0.119 151.328);
  --color-tw-green-900: oklch(0.393 0.095 152.535);
  --color-tw-green-950: oklch(0.266 0.065 152.934);
  --color-tw-emerald-50: oklch(0.979 0.021 166.113);
  --color-tw-emerald-100: oklch(0.95 0.052 163.051);
  --color-tw-emerald-200: oklch(0.905 0.093 164.15);
  --color-tw-emerald-300: oklch(0.845 0.143 164.978);
  --color-tw-emerald-400: oklch(0.765 0.177 163.223);
  --color-tw-emerald-500: oklch(0.696 0.17 162.48);
  --color-tw-emerald-600: oklch(0.596 0.145 163.225);
  --color-tw-emerald-700: oklch(0.508 0.118 165.612);
  --color-tw-emerald-800: oklch(0.432 0.095 166.913);
  --color-tw-emerald-900: oklch(0.378 0.077 168.94);
  --color-tw-emerald-950: oklch(0.262 0.051 172.552);
  --color-tw-teal-50: oklch(0.984 0.014 180.72);
  --color-tw-teal-100: oklch(0.953 0.051 180.801);
  --color-tw-teal-200: oklch(0.91 0.096 180.426);
  --color-tw-teal-300: oklch(0.855 0.138 181.071);
  --color-tw-teal-400: oklch(0.777 0.152 181.912);
  --color-tw-teal-500: oklch(0.704 0.14 182.503);
  --color-tw-teal-600: oklch(0.6 0.118 184.704);
  --color-tw-teal-700: oklch(0.511 0.096 186.391);
  --color-tw-teal-800: oklch(0.437 0.078 188.216);
  --color-tw-teal-900: oklch(0.386 0.063 188.416);
  --color-tw-teal-950: oklch(0.277 0.046 192.524);
  --color-tw-cyan-50: oklch(0.984 0.019 200.873);
  --color-tw-cyan-100: oklch(0.956 0.045 203.388);
  --color-tw-cyan-200: oklch(0.917 0.08 205.041);
  --color-tw-cyan-300: oklch(0.865 0.127 207.078);
  --color-tw-cyan-400: oklch(0.789 0.154 211.53);
  --color-tw-cyan-500: oklch(0.715 0.143 215.221);
  --color-tw-cyan-600: oklch(0.609 0.126 221.723);
  --color-tw-cyan-700: oklch(0.52 0.105 223.128);
  --color-tw-cyan-800: oklch(0.45 0.085 224.283);
  --color-tw-cyan-900: oklch(0.398 0.07 227.392);
  --color-tw-cyan-950: oklch(0.302 0.056 229.695);
  --color-tw-sky-50: oklch(0.977 0.013 236.62);
  --color-tw-sky-100: oklch(0.951 0.026 236.824);
  --color-tw-sky-200: oklch(0.901 0.058 230.902);
  --color-tw-sky-300: oklch(0.828 0.111 230.318);
  --color-tw-sky-400: oklch(0.746 0.16 232.661);
  --color-tw-sky-500: oklch(0.685 0.169 237.323);
  --color-tw-sky-600: oklch(0.588 0.158 241.966);
  --color-tw-sky-700: oklch(0.5 0.134 242.749);
  --color-tw-sky-800: oklch(0.443 0.11 240.79);
  --color-tw-sky-900: oklch(0.391 0.09 240.876);
  --color-tw-sky-950: oklch(0.293 0.066 243.157);
  --color-tw-blue-50: oklch(0.97 0.014 254.604);
  --color-tw-blue-100: oklch(0.932 0.032 255.585);
  --color-tw-blue-200: oklch(0.882 0.059 254.128);
  --color-tw-blue-300: oklch(0.809 0.105 251.813);
  --color-tw-blue-400: oklch(0.707 0.165 254.624);
  --color-tw-blue-500: oklch(0.623 0.214 259.815);
  --color-tw-blue-600: oklch(0.546 0.245 262.881);
  --color-tw-blue-700: oklch(0.488 0.243 264.376);
  --color-tw-blue-800: oklch(0.424 0.199 265.638);
  --color-tw-blue-900: oklch(0.379 0.146 265.522);
  --color-tw-blue-950: oklch(0.282 0.091 267.935);
  --color-tw-indigo-50: oklch(0.962 0.018 272.314);
  --color-tw-indigo-100: oklch(0.93 0.034 272.788);
  --color-tw-indigo-200: oklch(0.87 0.065 274.039);
  --color-tw-indigo-300: oklch(0.785 0.115 274.713);
  --color-tw-indigo-400: oklch(0.673 0.182 276.935);
  --color-tw-indigo-500: oklch(0.585 0.233 277.117);
  --color-tw-indigo-600: oklch(0.511 0.262 276.966);
  --color-tw-indigo-700: oklch(0.457 0.24 277.023);
  --color-tw-indigo-800: oklch(0.398 0.195 277.366);
  --color-tw-indigo-900: oklch(0.359 0.144 278.697);
  --color-tw-indigo-950: oklch(0.257 0.09 281.288);
  --color-tw-violet-50: oklch(0.969 0.016 293.756);
  --color-tw-violet-100: oklch(0.943 0.029 294.588);
  --color-tw-violet-200: oklch(0.894 0.057 293.283);
  --color-tw-violet-300: oklch(0.811 0.111 293.571);
  --color-tw-violet-400: oklch(0.702 0.183 293.541);
  --color-tw-violet-500: oklch(0.606 0.25 292.717);
  --color-tw-violet-600: oklch(0.541 0.281 293.009);
  --color-tw-violet-700: oklch(0.491 0.27 292.581);
  --color-tw-violet-800: oklch(0.432 0.232 292.759);
  --color-tw-violet-900: oklch(0.38 0.189 293.745);
  --color-tw-violet-950: oklch(0.283 0.141 291.089);
  --color-tw-purple-50: oklch(0.977 0.014 308.299);
  --color-tw-purple-100: oklch(0.946 0.033 307.174);
  --color-tw-purple-200: oklch(0.902 0.063 306.703);
  --color-tw-purple-300: oklch(0.827 0.119 306.383);
  --color-tw-purple-400: oklch(0.714 0.203 305.504);
  --color-tw-purple-500: oklch(0.627 0.265 303.9);
  --color-tw-purple-600: oklch(0.558 0.288 302.321);
  --color-tw-purple-700: oklch(0.496 0.265 301.924);
  --color-tw-purple-800: oklch(0.438 0.218 303.724);
  --color-tw-purple-900: oklch(0.381 0.176 304.987);
  --color-tw-purple-950: oklch(0.291 0.149 302.717);
  --color-tw-fuchsia-50: oklch(0.977 0.017 320.058);
  --color-tw-fuchsia-100: oklch(0.952 0.037 318.852);
  --color-tw-fuchsia-200: oklch(0.903 0.076 319.62);
  --color-tw-fuchsia-300: oklch(0.833 0.145 321.434);
  --color-tw-fuchsia-400: oklch(0.74 0.238 322.16);
  --color-tw-fuchsia-500: oklch(0.667 0.295 322.15);
  --color-tw-fuchsia-600: oklch(0.591 0.293 322.896);
  --color-tw-fuchsia-700: oklch(0.518 0.253 323.949);
  --color-tw-fuchsia-800: oklch(0.452 0.211 324.591);
  --color-tw-fuchsia-900: oklch(0.401 0.17 325.612);
  --color-tw-fuchsia-950: oklch(0.293 0.136 325.661);
  --color-tw-pink-50: oklch(0.971 0.014 343.198);
  --color-tw-pink-100: oklch(0.948 0.028 342.258);
  --color-tw-pink-200: oklch(0.899 0.061 343.231);
  --color-tw-pink-300: oklch(0.823 0.12 346.018);
  --color-tw-pink-400: oklch(0.718 0.202 349.761);
  --color-tw-pink-500: oklch(0.656 0.241 354.308);
  --color-tw-pink-600: oklch(0.592 0.249 0.584);
  --color-tw-pink-700: oklch(0.525 0.223 3.958);
  --color-tw-pink-800: oklch(0.459 0.187 3.815);
  --color-tw-pink-900: oklch(0.408 0.153 2.432);
  --color-tw-pink-950: oklch(0.284 0.109 3.907);
  --color-tw-rose-50: oklch(0.969 0.015 12.422);
  --color-tw-rose-100: oklch(0.941 0.03 12.58);
  --color-tw-rose-200: oklch(0.892 0.058 10.001);
  --color-tw-rose-300: oklch(0.81 0.117 11.638);
  --color-tw-rose-400: oklch(0.712 0.194 13.428);
  --color-tw-rose-500: oklch(0.645 0.246 16.439);
  --color-tw-rose-600: oklch(0.586 0.253 17.585);
  --color-tw-rose-700: oklch(0.514 0.222 16.935);
  --color-tw-rose-800: oklch(0.455 0.188 13.697);
  --color-tw-rose-900: oklch(0.41 0.159 10.272);
  --color-tw-rose-950: oklch(0.271 0.105 12.094);
  --color-tw-slate-50: oklch(0.984 0.003 247.858);
  --color-tw-slate-100: oklch(0.968 0.007 247.896);
  --color-tw-slate-200: oklch(0.929 0.013 255.508);
  --color-tw-slate-300: oklch(0.869 0.022 252.894);
  --color-tw-slate-400: oklch(0.704 0.04 256.788);
  --color-tw-slate-500: oklch(0.554 0.046 257.417);
  --color-tw-slate-600: oklch(0.446 0.043 257.281);
  --color-tw-slate-700: oklch(0.372 0.044 257.287);
  --color-tw-slate-800: oklch(0.279 0.041 260.031);
  --color-tw-slate-900: oklch(0.208 0.042 265.755);
  --color-tw-slate-950: oklch(0.129 0.042 264.695);
  --color-tw-gray-50: oklch(0.985 0.002 247.839);
  --color-tw-gray-100: oklch(0.967 0.003 264.542);
  --color-tw-gray-200: oklch(0.928 0.006 264.531);
  --color-tw-gray-300: oklch(0.872 0.01 258.338);
  --color-tw-gray-400: oklch(0.707 0.022 261.325);
  --color-tw-gray-500: oklch(0.551 0.027 264.364);
  --color-tw-gray-600: oklch(0.446 0.03 256.802);
  --color-tw-gray-700: oklch(0.373 0.034 259.733);
  --color-tw-gray-800: oklch(0.278 0.033 256.848);
  --color-tw-gray-900: oklch(0.21 0.034 264.665);
  --color-tw-gray-950: oklch(0.13 0.028 261.692);
  --color-tw-zinc-50: oklch(0.985 0 0);
  --color-tw-zinc-100: oklch(0.967 0.001 286.375);
  --color-tw-zinc-200: oklch(0.92 0.004 286.32);
  --color-tw-zinc-300: oklch(0.871 0.006 286.286);
  --color-tw-zinc-400: oklch(0.705 0.015 286.067);
  --color-tw-zinc-500: oklch(0.552 0.016 285.938);
  --color-tw-zinc-600: oklch(0.442 0.017 285.786);
  --color-tw-zinc-700: oklch(0.37 0.013 285.805);
  --color-tw-zinc-800: oklch(0.274 0.006 286.033);
  --color-tw-zinc-900: oklch(0.21 0.006 285.885);
  --color-tw-zinc-950: oklch(0.141 0.005 285.823);
  --color-tw-neutral-50: oklch(0.985 0 0);
  --color-tw-neutral-100: oklch(0.97 0 0);
  --color-tw-neutral-200: oklch(0.922 0 0);
  --color-tw-neutral-300: oklch(0.87 0 0);
  --color-tw-neutral-400: oklch(0.708 0 0);
  --color-tw-neutral-500: oklch(0.556 0 0);
  --color-tw-neutral-600: oklch(0.439 0 0);
  --color-tw-neutral-700: oklch(0.371 0 0);
  --color-tw-neutral-800: oklch(0.269 0 0);
  --color-tw-neutral-900: oklch(0.205 0 0);
  --color-tw-neutral-950: oklch(0.145 0 0);
  --color-tw-stone-50: oklch(0.985 0.001 106.423);
  --color-tw-stone-100: oklch(0.97 0.001 106.424);
  --color-tw-stone-200: oklch(0.923 0.003 48.717);
  --color-tw-stone-300: oklch(0.869 0.005 56.366);
  --color-tw-stone-400: oklch(0.709 0.01 56.259);
  --color-tw-stone-500: oklch(0.553 0.013 58.071);
  --color-tw-stone-600: oklch(0.444 0.011 73.639);
  --color-tw-stone-700: oklch(0.374 0.01 67.558);
  --color-tw-stone-800: oklch(0.268 0.007 34.298);
  --color-tw-stone-900: oklch(0.216 0.006 56.043);
  --color-tw-stone-950: oklch(0.147 0.004 49.25);
  --color-tw-black: #000;
  --color-tw-white: #fff;
  /* </tailwind-colors> */

  @apply pyly-color-scheme-light;
  @apply theme-default;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply pyly-color-scheme-dark;
  }
}

[data-pyly-react-navigation-screen] {
  @apply absolute inset-0;
}
[data-pyly-react-navigation-screen][data-pyly-react-navigation-modal] {
  @apply fixed;
}
