@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* WARNING: this doesn't disable keyboard focus on inputs, so you can still tab to them */
  .hhh-hidden {
    @apply opacity-0 pointer-events-none;
  }
  /*
  
  TEXT STYLES
  
  */
  .hhh-text-button-filled {
    @apply font-sans text-base/snug font-bold uppercase text-background;
  }
  .hhh-text-button-outline {
    @apply font-sans text-base/snug font-bold uppercase text-foreground;
  }
  .hhh-text-button-option {
    @apply font-sans text-base/snug text-foreground;
  }
  .hhh-text-button-option-caption {
    @apply font-sans text-sm/snug font-light text-caption;
  }
  .hhh-text-button-bare {
    @apply font-sans text-sm/normal font-bold uppercase text-foreground;
  }

  .hhh-text-title {
    @apply font-karla text-2xl/normal tracking-tight text-foreground;
  }
  /*
  Karla on iOS font-bold looks like font-medium, so we have to bump it up to
  800, normally we could use the nativewind variants `native:` or `ios:`, but
  using these causes tailwind to error. See
  https://github.com/nativewind/nativewind/issues/1400
  */
  /* web */
  @media (display-mode: browser) {
    .hhh-text-title {
      @apply font-bold;
    }
  }

  @media not (display-mode: browser) {
    /* native */
    .hhh-text-title {
      @apply font-[800];
    }
  }
  /* end .hhh-text-title */

  .hhh-hhhmark {
    white-space: pre-wrap;
    tab-size: 2;
  }

  /* hhh/body-2xl */
  .hhh-text-body-2xl {
    @apply font-sans text-2xl/normal font-thin text-foreground;
  }

  .hhh-text-body-2xl-ref {
    @apply font-sans text-2xl/tight font-normal text-foreground-ref underline decoration-foreground-ref/70 decoration-dashed decoration-[2px] underline-offset-[5px];
  }

  .hhh-text-body-2xl-bold {
    @apply font-sans text-2xl/normal font-medium text-foreground-bold;
  }

  .hhh-text-body-2xl-italic {
    @apply font-sans text-2xl/normal font-medium italic text-foreground;
  }

  /* hhh/body */
  .hhh-text-body {
    @apply font-sans text-base/normal font-thin text-foreground;
  }

  .hhh-text-body-ref {
    @apply font-sans text-base/normal font-normal text-foreground-ref underline decoration-foreground-ref/50 decoration-dashed decoration-[1.5px] underline-offset-[5px];
  }

  .hhh-text-body-bold {
    @apply font-sans text-base/normal font-medium text-foreground-bold;
  }

  .hhh-text-body-italic {
    @apply font-sans text-base/normal font-medium italic text-foreground;
  }

  /* hhh/caption */
  .hhh-text-caption {
    @apply font-sans text-sm/normal font-light text-caption;
  }

  .hhh-text-caption-ref {
    @apply font-sans text-sm/normal font-normal text-caption-ref underline decoration-caption-ref/50 decoration-dashed decoration-[1.5px] underline-offset-[5px];
  }

  .hhh-text-caption-bold {
    @apply font-sans text-sm/normal font-medium text-caption-bold;
  }

  .hhh-text-caption-italic {
    @apply font-sans text-sm/normal font-light italic text-caption;
  }

  /* hhh/body-input */
  .hhh-text-body-input {
    @apply font-sans text-lg/snug font-normal text-foreground;
  }

  /* www */
  .www-text-hero {
    @apply font-karla text-5xl/tight font-bold tracking-tighter text-primary-12 transition-all md:text-6xl/tight;
  }

  .www-text-title {
    @apply font-karla text-3xl/normal font-bold tracking-tighter text-primary-12 transition-all md:text-4xl/normal;
  }

  .www-text-subtitle {
    @apply font-karla text-base uppercase text-accent-10;
  }

  .www-text-body {
    @apply font-karla text-primary-12;
    @apply text-[17px]/[24px];
  }

  .www-px-comfortable {
    @apply px-safe-or-4 md:px-safe-or-8;
  }

  .www-text-footer-title {
    @apply font-karla text-[19px]/normal font-medium text-primary-12;
  }

  .www-text-footer-link {
    @apply font-karla text-[15px]/normal font-medium text-primary-12 antialiased;
  }

  /* 
  
  COLOR THEMES

  */
  .dark-theme {
    --color-slate-1: var(--color-slate-dark-1);
    --color-slate-2: var(--color-slate-dark-2);
    --color-slate-3: var(--color-slate-dark-3);
    --color-slate-4: var(--color-slate-dark-4);
    --color-slate-5: var(--color-slate-dark-5);
    --color-slate-6: var(--color-slate-dark-6);
    --color-slate-7: var(--color-slate-dark-7);
    --color-slate-8: var(--color-slate-dark-8);
    --color-slate-9: var(--color-slate-dark-9);
    --color-slate-10: var(--color-slate-dark-10);
    --color-slate-11: var(--color-slate-dark-11);
    --color-slate-12: var(--color-slate-dark-12);
    --color-cyan-1: var(--color-cyan-dark-1);
    --color-cyan-2: var(--color-cyan-dark-2);
    --color-cyan-3: var(--color-cyan-dark-3);
    --color-cyan-4: var(--color-cyan-dark-4);
    --color-cyan-5: var(--color-cyan-dark-5);
    --color-cyan-6: var(--color-cyan-dark-6);
    --color-cyan-7: var(--color-cyan-dark-7);
    --color-cyan-8: var(--color-cyan-dark-8);
    --color-cyan-9: var(--color-cyan-dark-9);
    --color-cyan-10: var(--color-cyan-dark-10);
    --color-cyan-11: var(--color-cyan-dark-11);
    --color-cyan-12: var(--color-cyan-dark-12);
    --color-red-1: var(--color-red-dark-1);
    --color-red-2: var(--color-red-dark-2);
    --color-red-3: var(--color-red-dark-3);
    --color-red-4: var(--color-red-dark-4);
    --color-red-5: var(--color-red-dark-5);
    --color-red-6: var(--color-red-dark-6);
    --color-red-7: var(--color-red-dark-7);
    --color-red-8: var(--color-red-dark-8);
    --color-red-9: var(--color-red-dark-9);
    --color-red-10: var(--color-red-dark-10);
    --color-red-11: var(--color-red-dark-11);
    --color-red-12: var(--color-red-dark-12);
    --color-lime-1: var(--color-lime-dark-1);
    --color-lime-2: var(--color-lime-dark-2);
    --color-lime-3: var(--color-lime-dark-3);
    --color-lime-4: var(--color-lime-dark-4);
    --color-lime-5: var(--color-lime-dark-5);
    --color-lime-6: var(--color-lime-dark-6);
    --color-lime-7: var(--color-lime-dark-7);
    --color-lime-8: var(--color-lime-dark-8);
    --color-lime-9: var(--color-lime-dark-9);
    --color-lime-10: var(--color-lime-dark-10);
    --color-lime-11: var(--color-lime-dark-11);
    --color-lime-12: var(--color-lime-dark-12);
    --color-amber-1: var(--color-amber-dark-1);
    --color-amber-2: var(--color-amber-dark-2);
    --color-amber-3: var(--color-amber-dark-3);
    --color-amber-4: var(--color-amber-dark-4);
    --color-amber-5: var(--color-amber-dark-5);
    --color-amber-6: var(--color-amber-dark-6);
    --color-amber-7: var(--color-amber-dark-7);
    --color-amber-8: var(--color-amber-dark-8);
    --color-amber-9: var(--color-amber-dark-9);
    --color-amber-10: var(--color-amber-dark-10);
    --color-amber-11: var(--color-amber-dark-11);
    --color-amber-12: var(--color-amber-dark-12);
    --color-sky: rgb(63 76 245);

    --color-background: var(--color-slate-2);

    --color-foreground: rgb(from var(--color-slate-12) r g b / 0.9);
    --color-foreground-bold: var(--color-slate-12);
    --color-foreground-ref: var(--color-slate-12);
    --color-caption: rgb(from var(--color-slate-12) r g b / 0.5);
    --color-caption-bold: rgb(from var(--color-slate-12) r g b / 0.75);
    --color-caption-ref: rgb(from var(--color-slate-12) r g b / 0.75);
  }

  .light-theme {
    --color-slate-1: var(--color-slate-light-1);
    --color-slate-2: var(--color-slate-light-2);
    --color-slate-3: var(--color-slate-light-3);
    --color-slate-4: var(--color-slate-light-4);
    --color-slate-5: var(--color-slate-light-5);
    --color-slate-6: var(--color-slate-light-6);
    --color-slate-7: var(--color-slate-light-7);
    --color-slate-8: var(--color-slate-light-8);
    --color-slate-9: var(--color-slate-light-9);
    --color-slate-10: var(--color-slate-light-10);
    --color-slate-11: var(--color-slate-light-11);
    --color-slate-12: var(--color-slate-light-12);
    --color-cyan-1: var(--color-cyan-light-1);
    --color-cyan-2: var(--color-cyan-light-2);
    --color-cyan-3: var(--color-cyan-light-3);
    --color-cyan-4: var(--color-cyan-light-4);
    --color-cyan-5: var(--color-cyan-light-5);
    --color-cyan-6: var(--color-cyan-light-6);
    --color-cyan-7: var(--color-cyan-light-7);
    --color-cyan-8: var(--color-cyan-light-8);
    --color-cyan-9: var(--color-cyan-light-9);
    --color-cyan-10: var(--color-cyan-light-10);
    --color-cyan-11: var(--color-cyan-light-11);
    --color-cyan-12: var(--color-cyan-light-12);
    --color-red-1: var(--color-red-light-1);
    --color-red-2: var(--color-red-light-2);
    --color-red-3: var(--color-red-light-3);
    --color-red-4: var(--color-red-light-4);
    --color-red-5: var(--color-red-light-5);
    --color-red-6: var(--color-red-light-6);
    --color-red-7: var(--color-red-light-7);
    --color-red-8: var(--color-red-light-8);
    --color-red-9: var(--color-red-light-9);
    --color-red-10: var(--color-red-light-10);
    --color-red-11: var(--color-red-light-11);
    --color-red-12: var(--color-red-light-12);
    --color-lime-1: var(--color-lime-light-1);
    --color-lime-2: var(--color-lime-light-2);
    --color-lime-3: var(--color-lime-light-3);
    --color-lime-4: var(--color-lime-light-4);
    --color-lime-5: var(--color-lime-light-5);
    --color-lime-6: var(--color-lime-light-6);
    --color-lime-7: var(--color-lime-light-7);
    --color-lime-8: var(--color-lime-light-8);
    --color-lime-9: var(--color-lime-light-9);
    --color-lime-10: var(--color-lime-light-10);
    --color-lime-11: var(--color-lime-light-11);
    --color-lime-12: var(--color-lime-light-12);
    --color-amber-1: var(--color-amber-light-1);
    --color-amber-2: var(--color-amber-light-2);
    --color-amber-3: var(--color-amber-light-3);
    --color-amber-4: var(--color-amber-light-4);
    --color-amber-5: var(--color-amber-light-5);
    --color-amber-6: var(--color-amber-light-6);
    --color-amber-7: var(--color-amber-light-7);
    --color-amber-8: var(--color-amber-light-8);
    --color-amber-9: var(--color-amber-light-9);
    --color-amber-10: var(--color-amber-light-10);
    --color-amber-11: var(--color-amber-light-11);
    --color-amber-12: var(--color-amber-light-12);
    --color-sky: rgb(34 121 255);

    --color-background: var(--color-slate-2);

    --color-foreground: rgb(from var(--color-slate-12) r g b / 0.9);
    --color-foreground-bold: var(--color-slate-12);
    --color-foreground-ref: var(--color-slate-12);
    --color-caption: var(--color-slate-10);
    --color-caption-bold: var(--color-slate-11);
    --color-caption-ref: var(--color-slate-11);
  }

  .default-theme {
    /* todo delete ? */
    --color-primary-1: var(--color-slate-1);
    --color-primary-2: var(--color-slate-2);
    --color-primary-3: var(--color-slate-3);
    --color-primary-4: var(--color-slate-4);
    --color-primary-5: var(--color-slate-5);
    --color-primary-6: var(--color-slate-6);
    --color-primary-7: var(--color-slate-7);
    --color-primary-8: var(--color-slate-8);
    --color-primary-9: var(--color-slate-9);
    --color-primary-10: var(--color-slate-10);
    --color-primary-11: var(--color-slate-11);
    --color-primary-12: var(--color-slate-12);
    --color-accent-1: var(--color-cyan-1);
    --color-accent-2: var(--color-cyan-2);
    --color-accent-3: var(--color-cyan-3);
    --color-accent-4: var(--color-cyan-4);
    --color-accent-5: var(--color-cyan-5);
    --color-accent-6: var(--color-cyan-6);
    --color-accent-7: var(--color-cyan-7);
    --color-accent-8: var(--color-cyan-8);
    --color-accent-9: var(--color-cyan-9);
    --color-accent-10: var(--color-cyan-10);
    --color-accent-11: var(--color-cyan-11);
    --color-accent-12: var(--color-cyan-12);

    --color-foreground: rgb(from var(--color-primary-12) r g b / 0.9);
    --color-foreground-bold: var(--color-primary-12);
    --color-foreground-ref: var(--color-primary-12);
    --color-caption: var(--color-primary-10);
    --color-caption-bold: var(--color-primary-11);
    --color-caption-ref: var(--color-primary-11);
  }

  .danger-theme {
    --color-accent-1: var(--color-red-1);
    --color-accent-2: var(--color-red-2);
    --color-accent-3: var(--color-red-3);
    --color-accent-4: var(--color-red-4);
    --color-accent-5: var(--color-red-5);
    --color-accent-6: var(--color-red-6);
    --color-accent-7: var(--color-red-7);
    --color-accent-8: var(--color-red-8);
    --color-accent-9: var(--color-red-9);
    --color-accent-10: var(--color-red-10);
    --color-accent-11: var(--color-red-11);
    --color-accent-12: var(--color-red-12);
  }

  .danger-theme2 {
    /* todo: delete */
    --color-primary-1: var(--color-red-1);
    --color-primary-2: var(--color-red-2);
    --color-primary-3: var(--color-red-3);
    --color-primary-4: var(--color-red-4);
    --color-primary-5: var(--color-red-5);
    --color-primary-6: var(--color-red-6);
    --color-primary-7: var(--color-red-7);
    --color-primary-8: var(--color-red-8);
    --color-primary-9: var(--color-red-9);
    --color-primary-10: var(--color-red-10);
    --color-primary-11: var(--color-red-11);
    --color-primary-12: var(--color-red-12);

    --color-foreground: var(--color-red-10);
    --color-foreground-bold: var(--color-red-10);
    --color-foreground-ref: var(--color-red-10);
    --color-caption: var(--color-red-10);
    --color-caption-bold: var(--color-red-10);
    --color-caption-ref: var(--color-red-10);
  }

  .success-theme {
    --color-accent-1: var(--color-lime-1);
    --color-accent-2: var(--color-lime-2);
    --color-accent-3: var(--color-lime-3);
    --color-accent-4: var(--color-lime-4);
    --color-accent-5: var(--color-lime-5);
    --color-accent-6: var(--color-lime-6);
    --color-accent-7: var(--color-lime-7);
    --color-accent-8: var(--color-lime-8);
    --color-accent-9: var(--color-lime-9);
    --color-accent-10: var(--color-lime-10);
    --color-accent-11: var(--color-lime-11);
    --color-accent-12: var(--color-lime-12);
  }

  .success-theme2 {
    --color-foreground: var(--color-lime-10);
    --color-foreground-bold: var(--color-lime-10);
    --color-foreground-ref: var(--color-lime-10);
    --color-caption: var(--color-lime-10);
    --color-caption-bold: var(--color-lime-10);
    --color-caption-ref: var(--color-lime-10);
  }

  .accent-theme2 {
    --color-foreground: var(--color-cyan-10);
    --color-foreground-bold: var(--color-cyan-10);
    --color-foreground-ref: var(--color-cyan-10);
    --color-caption: var(--color-cyan-10);
    --color-caption-bold: var(--color-cyan-10);
    --color-caption-ref: var(--color-cyan-10);
  }

  .warning-theme {
    --color-accent-1: var(--color-amber-1);
    --color-accent-2: var(--color-amber-2);
    --color-accent-3: var(--color-amber-3);
    --color-accent-4: var(--color-amber-4);
    --color-accent-5: var(--color-amber-5);
    --color-accent-6: var(--color-amber-6);
    --color-accent-7: var(--color-amber-7);
    --color-accent-8: var(--color-amber-8);
    --color-accent-9: var(--color-amber-9);
    --color-accent-10: var(--color-amber-10);
    --color-accent-11: var(--color-amber-11);
    --color-accent-12: var(--color-amber-12);
  }
}

body {
  @apply bg-background;
}

:root {
  --color-lime-light-1: rgb(252 253 250);
  --color-lime-light-2: rgb(247 252 240);
  --color-lime-light-3: rgb(238 250 220);
  --color-lime-light-4: rgb(228 247 199);
  --color-lime-light-5: rgb(215 242 176);
  --color-lime-light-6: rgb(202 232 148);
  --color-lime-light-7: rgb(177 209 106);
  --color-lime-light-8: rgb(148 186 44);
  --color-lime-light-9: rgb(153 213 42);
  --color-lime-light-10: rgb(0 196 16);
  --color-lime-light-11: rgb(93 119 13);
  --color-lime-light-12: rgb(38 50 9);
  --color-lime-dark-1: rgb(2 24 7);
  --color-lime-dark-2: rgb(2 29 8);
  --color-lime-dark-3: rgb(3 38 13);
  --color-lime-dark-4: rgb(3 46 15);
  --color-lime-dark-5: rgb(4 55 17);
  --color-lime-dark-6: rgb(5 66 19);
  --color-lime-dark-7: rgb(6 82 21);
  --color-lime-dark-8: rgb(8 103 22);
  --color-lime-dark-9: rgb(15 213 42);
  --color-lime-dark-10: rgb(19 240 66);
  --color-lime-dark-11: rgb(47 245 89);
  --color-lime-dark-12: rgb(23 251 221);

  --color-red-light-1: rgb(255 252 252);
  --color-red-light-2: rgb(255 248 248);
  --color-red-light-3: rgb(255 239 239);
  --color-red-light-4: rgb(255 229 229);
  --color-red-light-5: rgb(253 216 216);
  --color-red-light-6: rgb(249 199 199);
  --color-red-light-7: rgb(243 174 175);
  --color-red-light-8: rgb(235 144 145);
  --color-red-light-9: rgb(229 72 77);
  --color-red-light-10: rgb(220 62 67);
  --color-red-light-11: rgb(205 44 49);
  --color-red-light-12: rgb(56 19 22);
  --color-red-dark-1: rgb(31 19 21);
  --color-red-dark-2: rgb(41 20 21);
  --color-red-dark-3: rgb(60 24 26);
  --color-red-dark-4: rgb(72 26 29);
  --color-red-dark-5: rgb(84 27 31);
  --color-red-dark-6: rgb(103 30 34);
  --color-red-dark-7: rgb(130 32 37);
  --color-red-dark-8: rgb(170 36 41);
  --color-red-dark-9: rgb(229 72 77);
  --color-red-dark-10: rgb(242 85 90);
  --color-red-dark-11: rgb(255 100 105);
  --color-red-dark-12: rgb(254 236 238);

  --color-slate-light-1: rgb(251 252 253);
  --color-slate-light-2: rgb(248 249 250);
  --color-slate-light-3: rgb(241 243 245);
  --color-slate-light-4: rgb(236 238 240);
  --color-slate-light-5: rgb(230 233 235);
  --color-slate-light-6: rgb(224 227 230);
  --color-slate-light-7: rgb(215 219 223);
  --color-slate-light-8: rgb(193 200 205);
  --color-slate-light-9: rgb(136 144 150);
  --color-slate-light-10: rgb(126 134 140);
  --color-slate-light-11: rgb(104 112 118);
  --color-slate-light-12: rgb(17 24 29);
  --color-slate-dark-1: rgb(21 23 24);
  --color-slate-dark-2: rgb(26 29 30);
  --color-slate-dark-3: rgb(32 36 37);
  --color-slate-dark-4: rgb(38 41 43);
  --color-slate-dark-5: rgb(43 47 49);
  --color-slate-dark-6: rgb(49 53 56);
  --color-slate-dark-7: rgb(58 63 66);
  --color-slate-dark-8: rgb(76 81 85);
  --color-slate-dark-9: rgb(105 113 119);
  --color-slate-dark-10: rgb(120 127 133);
  --color-slate-dark-11: rgb(155 161 166);
  --color-slate-dark-12: rgb(236 237 238);

  --color-amber-light-1: rgb(254 253 251);
  --color-amber-light-2: rgb(255 249 237);
  --color-amber-light-3: rgb(255 244 213);
  --color-amber-light-4: rgb(255 236 188);
  --color-amber-light-5: rgb(255 227 162);
  --color-amber-light-6: rgb(255 211 134);
  --color-amber-light-7: rgb(243 186 99);
  --color-amber-light-8: rgb(238 157 43);
  --color-amber-light-9: rgb(255 178 36);
  --color-amber-light-10: rgb(255 160 28);
  --color-amber-light-11: rgb(173 87 0);
  --color-amber-light-12: rgb(78 32 9);
  --color-amber-dark-1: rgb(31 19 0);
  --color-amber-dark-2: rgb(39 23 0);
  --color-amber-dark-3: rgb(52 28 0);
  --color-amber-dark-4: rgb(63 34 0);
  --color-amber-dark-5: rgb(75 41 0);
  --color-amber-dark-6: rgb(87 51 0);
  --color-amber-dark-7: rgb(105 63 5);
  --color-amber-dark-8: rgb(130 78 0);
  --color-amber-dark-9: rgb(255 178 36);
  --color-amber-dark-10: rgb(255 203 71);
  --color-amber-dark-11: rgb(241 161 13);
  --color-amber-dark-12: rgb(255 243 221);

  --color-cyan-light-1: rgb(250 253 254);
  --color-cyan-light-2: rgb(242 252 253);
  --color-cyan-light-3: rgb(231 249 251);
  --color-cyan-light-4: rgb(216 243 246);
  --color-cyan-light-5: rgb(196 234 240);
  --color-cyan-light-6: rgb(170 222 230);
  --color-cyan-light-7: rgb(132 205 218);
  --color-cyan-light-8: rgb(61 185 207);
  --color-cyan-light-9: rgb(5 162 194);
  --color-cyan-light-10: rgb(0 186 233);
  --color-cyan-light-11: rgb(12 119 146);
  --color-cyan-light-12: rgb(4 49 60);
  --color-cyan-dark-1: rgb(7 25 29);
  --color-cyan-dark-2: rgb(6 30 36);
  --color-cyan-dark-3: rgb(7 40 48);
  --color-cyan-dark-4: rgb(7 48 59);
  --color-cyan-dark-5: rgb(7 56 68);
  --color-cyan-dark-6: rgb(6 66 80);
  --color-cyan-dark-7: rgb(4 80 99);
  --color-cyan-dark-8: rgb(0 100 125);
  --color-cyan-dark-9: rgb(5 162 194);
  --color-cyan-dark-10: rgb(0 177 204);
  --color-cyan-dark-11: rgb(0 194 215);
  --color-cyan-dark-12: rgb(225 248 250);

  @apply light-theme;
  @apply default-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply dark-theme;
  }
}

[data-hhh-react-navigation-screen] {
  @apply absolute inset-0;
}
[data-hhh-react-navigation-modal] {
  @apply fixed;
}
