@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*
  
  TEXT STYLES
  
  */
  .pyly-button-filled {
    @apply font-sans text-base/snug font-bold uppercase text-bg;
  }
  .pyly-button-outline {
    @apply font-sans text-base/snug font-bold uppercase text-fg;
  }
  .pyly-button-option {
    @apply font-sans text-base/snug text-fg;
  }
  .pyly-button-option-caption {
    @apply font-sans text-sm/snug font-light text-caption;
  }
  .pyly-button-bare {
    @apply font-sans text-sm/normal font-bold uppercase text-fg;
  }

  /* --- */

  /* <pyly-body-title> */
  .pyly-body-title {
    @apply font-sans text-2xl/normal tracking-tight text-fg font-bold;
  }
  .pyly-body-title .pyly-ref {
    @apply leading-tight text-2xl/normal font-bold text-fg-loud pyly-ref-2xl;
  }
  .pyly-body-title .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body-title .pyly-highlight {
    @apply font-extrabold text-yellow;
  }
  /* </pyly-body-title> */

  /* --- */

  .pyly-body-heading {
    @apply font-sans text-lg/normal tracking-tight text-fg-loud font-bold;
  }
  .pyly-body-heading .pyly-ref {
    @apply font-bold text-lg/normal text-fg-loud pyly-ref-lg;
  }
  .pyly-body-heading .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body-heading .pyly-highlight {
    @apply font-bold text-yellow;
  }

  /* --- */

  .pyly-body-2xl {
    @apply font-sans text-2xl/normal font-light text-fg;
  }
  .pyly-body-2xl .pyly-ref {
    @apply text-2xl/normal font-medium text-fg-loud pyly-ref-2xl;
  }
  .pyly-body-2xl .pyly-bold {
    @apply font-medium text-fg-loud;
  }
  .pyly-body-2xl .pyly-highlight {
    @apply font-medium text-yellow;
  }

  /* --- */

  .pyly-body {
    @apply font-sans text-base/normal text-fg font-medium;
  }
  .pyly-body .pyly-ref {
    @apply text-base/normal text-fg-loud font-medium pyly-ref-base;
  }
  .pyly-body .pyly-bold {
    @apply font-bold text-fg-loud;
  }
  .pyly-body .pyly-highlight {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-body-caption {
    @apply font-sans text-sm/normal font-light text-caption;
  }
  .pyly-body-caption .pyly-ref {
    @apply text-caption-loud text-sm/normal font-medium pyly-ref-sm;
  }
  .pyly-body-caption .pyly-bold {
    @apply text-caption-loud font-medium;
  }
  .pyly-body-caption .pyly-highlight {
    @apply text-yellow font-semibold;
  }
  .pyly-body-caption .pyly-italic {
    @apply font-light;
  }

  /* --- */

  .pyly-body-dt {
    @apply font-sans text-xs/normal font-normal text-caption uppercase;
  }
  .pyly-body-dt .pyly-ref {
    @apply text-xs/normal text-fg-loud font-medium pyly-ref-xs;
  }
  .pyly-body-dt .pyly-bold {
    @apply font-medium text-fg-loud;
  }
  .pyly-body-dt .pyly-highlight {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-body-input {
    @apply font-sans text-lg/snug font-light text-fg;
  }
  .pyly-body-input .pyly-ref {
    @apply text-lg/snug text-fg-loud font-medium pyly-ref-lg;
  }
  .pyly-body-input .pyly-bold {
    @apply font-medium text-fg-loud;
  }
  .pyly-body-input .pyly-highlight {
    @apply font-semibold text-yellow;
  }

  /* --- */

  .pyly-dev-dt {
    @apply font-mono text-xs/normal font-normal text-caption uppercase;
  }

  /* www */
  .www-text-hero {
    @apply font-karla text-5xl/tight font-bold tracking-tighter text-fg transition-all md:text-6xl/tight;
  }

  .www-text-title {
    @apply font-karla text-3xl/normal font-bold tracking-tighter text-fg transition-all md:text-4xl/normal;
  }

  .www-text-subtitle {
    @apply font-karla text-base uppercase text-cyanold;
  }

  .www-text-body {
    @apply font-karla text-fg text-[17px]/[24px];
  }

  .www-px-comfortable {
    @apply px-safe-or-4 md:px-safe-or-8;
  }

  .www-text-footer-title {
    @apply font-karla text-[19px]/normal font-medium text-fg;
  }

  .www-text-footer-link {
    @apply font-karla text-[15px]/normal font-medium text-fg antialiased;
  }

  /* 
  
  COLOR SCHEMES

  */
  .pyly-color-scheme-dark {
    --color-red: var(--color-red-dark);
    --color-orange: var(--color-orange-dark);
    --color-amber: var(--color-amber-dark);
    --color-yellow: var(--color-yellow-dark);
    --color-lime: var(--color-lime-dark);
    --color-wasabi: var(--color-wasabi-dark);
    --color-green: var(--color-green-dark);
    --color-emerald: var(--color-emerald-dark);
    --color-teal: var(--color-teal-dark);
    --color-cyan: var(--color-cyan-dark);
    --color-cyanold: var(--color-cyanold-dark);
    --color-sky: var(--color-sky-dark);
    --color-blue: var(--color-blue-dark);
    --color-indigo: var(--color-indigo-dark);
    --color-violet: var(--color-violet-dark);
    --color-purple: var(--color-purple-dark);
    --color-fuchsia: var(--color-fuchsia-dark);
    --color-pink: var(--color-pink-dark);
    --color-rose: var(--color-rose-dark);
    --color-brick: var(--color-brick-dark);
    --color-brick-loud: var(--color-brick-loud-dark);
    --color-slate: var(--color-slate-dark);
    --color-gray: var(--color-gray-dark);
    --color-zinc: var(--color-zinc-dark);
    --color-neutral: var(--color-neutral-dark);
    --color-stone: var(--color-stone-dark);
    --color-cloud: var(--color-cloud-dark);
    --color-ink: var(--color-ink-dark);
    --color-ink-loud: var(--color-ink-loud-dark);

    --color-bg: var(--color-bg-dark);
    --color-bg-loud: var(--color-bg-loud-dark);
  }

  .pyly-color-schema-light {
    --color-red: var(--color-red-light);
    --color-orange: var(--color-orange-light);
    --color-amber: var(--color-amber-light);
    --color-yellow: var(--color-yellow-light);
    --color-lime: var(--color-lime-light);
    --color-wasabi: var(--color-wasabi-light);
    --color-green: var(--color-green-light);
    --color-emerald: var(--color-emerald-light);
    --color-teal: var(--color-teal-light);
    --color-cyan: var(--color-cyan-light);
    --color-cyanold: var(--color-cyanold-light);
    --color-sky: var(--color-sky-light);
    --color-blue: var(--color-blue-light);
    --color-indigo: var(--color-indigo-light);
    --color-violet: var(--color-violet-light);
    --color-purple: var(--color-purple-light);
    --color-fuchsia: var(--color-fuchsia-light);
    --color-pink: var(--color-pink-light);
    --color-rose: var(--color-rose-light);
    --color-brick: var(--color-brick-light);
    --color-brick-loud: var(--color-brick-loud-light);
    --color-slate: var(--color-slate-light);
    --color-gray: var(--color-gray-light);
    --color-zinc: var(--color-zinc-light);
    --color-neutral: var(--color-neutral-light);
    --color-stone: var(--color-stone-light);
    --color-cloud: var(--color-cloud-light);
    --color-ink: var(--color-ink-light);
    --color-ink-loud: var(--color-ink-loud-light);

    --color-bg: var(--color-bg-light);
    --color-bg-loud: var(--color-bg-loud-light);
  }

  .pyly-mdx {
  }

  .pyly-mdx-p {
    /* Override react-native-web's default `white-space: pre-wrap` so that
    newlines in MDX are not treated as line breaks. In MDX if you want a line
    break you can use two trailing spaces at the end of a line and it is a
    `<BR>`. */

    @apply whitespace-normal;
  }
  .pyly-mdx-blockquote {
    @apply border-l-4 border-l-fg/50 pl-4 py-2;
  }

  .pyly-mdx > .pyly-mdx-p,
  .pyly-mdx > ul,
  .pyly-mdx > .pyly-mdx-blockquote {
    @apply mx-4;
  }

  .pyly-mdx ul {
    @apply pl-6;
  }
  .pyly-mdx li ul {
    @apply my-2;
  }
}

@layer utilities {
  /* 
  
  THEMES

  */
  .theme-default {
    --color-fg: var(--color-ink);
    --color-fg-loud: var(--color-ink-loud);
    --color-caption: rgb(from var(--color-fg) r g b / 0.6);
    --color-caption-loud: rgb(from var(--color-fg) r g b / 0.9);
  }

  .theme-danger {
    --color-fg: var(--color-brick);
    --color-fg-loud: var(--color-brick-loud);
    --color-caption: rgb(from var(--color-fg) r g b / 0.6);
    --color-caption-loud: rgb(from var(--color-fg) r g b / 0.9);
  }

  .theme-success {
    --color-fg: var(--color-wasabi);
    --color-fg-loud: var(--color-wasabi);
    --color-caption: rgb(from var(--color-fg) r g b / 0.6);
    --color-caption-loud: rgb(from var(--color-fg) r g b / 0.9);
  }

  .theme-accent {
    --color-fg: var(--color-cyanold);
    --color-fg-loud: var(--color-cyanold);
    --color-caption: rgb(from var(--color-fg) r g b / 0.6);
    --color-caption-loud: rgb(from var(--color-fg) r g b / 0.9);
  }

  .theme-warning {
    --color-fg: var(--color-amber);
    --color-fg-loud: var(--color-amber);
    --color-caption: rgb(from var(--color-fg) r g b / 0.6);
    --color-caption-loud: rgb(from var(--color-fg) r g b / 0.9);
  }

  /* --- */

  .pyly-ref {
    text-decoration-skip-ink: none;

    @apply underline decoration-currentColor/25 hover:decoration-currentColor/50;

    /* Fix Safari bug where the underline text decoration isn't redrawn
    correctly because Safari doesn't correctly mark the pixels as dirty on
    hover. */

    @apply hover:transform-gpu;
  }

  .pyly-ref-xs {
    @apply decoration-[2px] underline-offset-[2px];
  }
  .pyly-ref-sm {
    @apply decoration-[2.5px] underline-offset-[2px];
  }
  .pyly-ref-base {
    @apply decoration-[3px] underline-offset-[2px];
  }
  .pyly-ref-lg {
    @apply decoration-[3px] underline-offset-[3px];
  }
  .pyly-ref-xl {
    @apply decoration-[3px] underline-offset-[3px];
  }
  .pyly-ref-2xl {
    @apply decoration-[4px] underline-offset-[3px];
  }

  .pyly-italic {
    @apply italic;
  }

  /* --- */

  .font-sans {
    /*
    Safari tries to work out its own "bold" weight, because it's a variable
    weight font. This disables that behaviour.
    */
    font-synthesis: none;
    /*
    Make webkit (e.g. Safari) render the font the same way as Figma
    https://forum.figma.com/ask-the-community-7/font-in-browser-seem-bolder-than-in-the-figma-8146#post54600
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  /* --- */

  .tab-size-2 {
    tab-size: 2;
  }
}

body {
  @apply bg-bg;
}

:root {
  /* <tailwind-colors> */
  --color-red-light: #e7000b;
  --color-red-dark: #e7000b;
  --color-orange-light: #f54900;
  --color-orange-dark: #ff8904;
  --color-amber-light: #e17100;
  --color-amber-dark: #ffb900;
  --color-yellow-light: #d08700;
  --color-yellow-dark: #fdc700;
  --color-lime-light: #5ea500;
  --color-lime-dark: #9ae600;
  --color-wasabi-light: #00c410;
  --color-wasabi-dark: #13f042;
  --color-green-light: #008236;
  --color-green-dark: #05df72;
  --color-emerald-light: #007a55;
  --color-emerald-dark: #00d492;
  --color-teal-light: #00786f;
  --color-teal-dark: #00d5be;
  --color-cyan-light: #007595;
  --color-cyan-dark: #00d3f2;
  --color-cyanold-light: #00bae9;
  --color-cyanold-dark: #00d3f2;
  --color-sky-light: #0069a8;
  --color-sky-dark: #00a6f4;
  --color-blue-light: #1447e6;
  --color-blue-dark: #2b7fff;
  --color-indigo-light: #4f39f6;
  --color-indigo-dark: #615fff;
  --color-violet-light: #7f22fe;
  --color-violet-dark: #8e51ff;
  --color-purple-light: #9810fa;
  --color-purple-dark: #ad46ff;
  --color-fuchsia-light: #c800de;
  --color-fuchsia-dark: #e12afb;
  --color-pink-light: #e60076;
  --color-pink-dark: #f6339a;
  --color-rose-light: #ec003f;
  --color-rose-dark: #ff2056;
  --color-slate-light: #45556c;
  --color-slate-dark: #90a1b9;
  --color-gray-light: #4a5565;
  --color-gray-dark: #99a1af;
  --color-zinc-light: #52525c;
  --color-zinc-dark: #9f9fa9;
  --color-neutral-light: #525252;
  --color-neutral-dark: #a1a1a1;
  --color-stone-light: #57534d;
  --color-stone-dark: #a6a09b;
  /* </tailwind-colors> */

  --color-brick-light: #dc3e43;
  --color-brick-dark: #f2555a;
  --color-brick-loud-light: #d8373d;
  --color-brick-loud-dark: #f46368;
  --color-ink-light: #28353d;
  --color-ink-dark: #d7d8d9;
  --color-ink-loud-light: #000000;
  --color-ink-loud-dark: #ffffff;
  --color-cloud-light: #cdcdcd;
  --color-cloud-dark: #d9d9d9;

  --color-bg-light: #f8f9fa;
  --color-bg-dark: #1a1d1e;
  --color-bg-loud-light: #f1f3f5;
  --color-bg-loud-dark: #1f292b;

  @apply pyly-color-schema-light;
  @apply theme-default;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply pyly-color-scheme-dark;
  }
}

[data-pyly-react-navigation-screen] {
  @apply absolute inset-0;
}
[data-pyly-react-navigation-screen][data-pyly-react-navigation-modal] {
  @apply fixed;
}
